<% if @play_coupon_animation && defined?(winner_coupons) && winner_coupons.present? %>
  <% payload = coupon_animation_payload(winner_coupons.first) %>
  <%= turbo_stream.append "effects" do %>
    <div data-controller="coupon-animation"
         data-coupon-animation-type-value="draw"
         data-coupon-animation-id-value="<%= payload[:id] %>"
         data-coupon-animation-title-value="<%= payload[:title] %>"
         data-coupon-animation-image-url-value="<%= payload[:image_url] %>"></div>
  <% end %>
<% end %>

<% if winner.present? %>
  <%= turbo_stream.update dom_id(winner, :coupons) do %>
    <%= render partial: "user_coupons/list",
               locals: { coupons: winner_coupons, user: winner } %>
  <% end %>

  <%= turbo_stream.update dom_id(winner, :recent_issued_coupons) do %>
    <%= render partial: "user_coupons/issued_coupons",
               locals: { coupons: winner_recent_issued_coupons, show_user: false } %>
  <% end %>

  <%= turbo_stream.update dom_id(winner, :kpis) do %>
    <%= render partial: "users/kpi_chips",
               locals: { user: winner, kpi_counts: winner_kpi_counts } %>
  <% end %>
<% end %>
