<%= turbo_stream.replace "issued_coupons" do %>
  <div id="issued_coupons">
    <%= render partial: "user_coupons/issued_coupons",
        locals: { coupons: issued_coupons, show_user: true } %>
  </div>
<% end %>

<% if winner.present? %>
  <%= turbo_stream.update dom_id(winner, :coupons) do %>
    <%= render partial: "user_coupons/list",
               locals: { coupons: winner_coupons, user: winner } %>
  <% end %>

  <%= turbo_stream.update dom_id(winner, :recent_issued_coupons) do %>
    <%= render partial: "user_coupons/issued_coupons",
               locals: { coupons: winner_coupons, show_user: false } %>
  <% end %>
<% end %>

<% if defined?(winner_coupons) && winner_coupons.present? %>
  <div data-controller="highlight"
       data-highlight-id-value="<%= dom_id(winner_coupons.first) %>"></div>
<% end %>