<% if policy(@classroom).update? %>
  <div class="mb-4">
    <%= link_to "✏️ 수정", edit_classroom_path(@classroom), class: "text-blue-600 underline mr-4" %>
    <%= link_to "🗑 삭제", classroom_path(@classroom), method: :delete,
          data: { confirm: "정말 삭제할까요?" },
          class: "text-red-600 underline" %>
    <%= link_to "학생 추가",
          new_classroom_student_path(@classroom),
          data: { turbo_frame: "modal" },
          class: "px-3 py-2 bg-green-500 text-white rounded" %>

    <%= link_to "여러 학생 자동 생성",
          bulk_new_classroom_students_path(@classroom),
          data: { turbo_frame: "modal" },
          class: "px-3 py-2 bg-purple-500 text-white rounded" %>
  </div>
<% end %>

<div class="flex items-center mb-4">
  <%= button_to "칭찬왕 갱신", refresh_compliment_king_classroom_path(@classroom),
    method: :post,
    form: { data: { turbo_stream: true }},
    class: "ml-auto px-3 py-1 bg-blue-200 rounded hover:bg-blue-300" %>
</div>

<%= turbo_frame_tag "compliment_king_#{@classroom.id}" do %>
  <%= render partial: "classrooms/compliment_king", locals: {
    compliment_kings: @compliment_kings,
    compliment_king_count: @compliment_king_count,
    classroom: @classroom
  } %>
<% end %>

<h2 class="text-xl font-bold mb-4"><%= @classroom.name %>의 학생들</h2>
<%= turbo_frame_tag "students_list_#{@classroom.id}" do %>
  <div class="grid grid-cols-3 gap-4">
    <%= render partial: "users/user", collection: @students, as: :user, locals: { classroom: @classroom } %>
  </div>
<% end %>

<%= turbo_frame_tag :modal %>
