<% if @can_manage_classroom %>
  <div class="mb-4">
    <%= link_to t('ui.buttons.edit_classroom'),
      edit_classroom_path(@classroom), class: "text-blue-600 underline mr-4" %>
    <%= link_to t('ui.buttons.delete_classroom'),
      classroom_path(@classroom),
          data: { turbo_method: :delete, turbo_confirm: t('ui.buttons.confirm_delete_classroom') },
          class: "text-red-600 underline" %>
    <%= link_to t('ui.buttons.create_student'),
          new_classroom_student_path(@classroom),
          data: { turbo_frame: "modal" },
          class: "px-3 py-2 bg-green-500 text-white rounded" %>

    <%= link_to t('ui.buttons.bulk_create_students'),
          bulk_new_classroom_students_path(@classroom),
          data: { turbo_frame: "modal" },
          class: "px-3 py-2 bg-purple-500 text-white rounded" %>
  </div>
<% end %>

<div class="flex items-center mb-4">
  <%= button_to t('ui.buttons.refresh_king'),
    refresh_compliment_king_classroom_path(@classroom),
    method: :post,
    form: { data: { turbo_submits_with: t("ui.processing") }},
    class: "ml-auto px-3 py-1 bg-blue-200 rounded hover:bg-blue-300" %>
</div>

<%#= turbo_frame_tag "compliment_king_#{@classroom.id}" do %>
<%= turbo_frame_tag dom_id(@classroom, :compliment_king) do %>
  <%= render partial: "classrooms/compliment_king", locals: {
    compliment_kings: @compliment_kings,
    compliment_king_count: @compliment_king_count,
    classroom: @classroom
  } %>
<% end %>

<div id="issued_coupons">
  <%= render partial: "user_coupons/issued_coupons",
    locals: { coupons: @issued_coupons, show_user: true } %>
</div>

<br/>

<h2 class="text-xl font-bold mb-4"><%= @classroom.name %>의 학생들</h2>
<%= turbo_frame_tag "students_list_#{@classroom.id}" do %>
  <div id="students_grid_<%= @classroom.id %>" class="grid grid-cols-3 gap-4">
    <%= render partial: "users/user", collection: @students, as: :user, locals: { classroom: @classroom } %>
  </div>
<% end %>

<%= turbo_frame_tag :modal %>


