<!DOCTYPE html>
<html>
  <head>
    <title>SuksukPraise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="pt-14"> <!-- 네비바 높이만큼 여백 -->
    <nav class="fixed inset-x-0 top-0 h-14 z-50 bg-white/90 backdrop-blur shadow">
      <%= render "layouts/navbar" %>
    </nav>

    <!-- flash 컨테이너: 클릭 통과, 상단 고정 -->
    <div id="flash"
        class="fixed inset-x-0 top-14 z-40 flex flex-col items-center space-y-2 px-4
                pointer-events-none transition-all duration-300">
      <%= render "layouts/alerts" %>
    </div>

    <%= yield %>
  </body>
</html>
